<div class="container">
  <main id="content" class="error-container" role="main">
    <div class="row">
        <div class="error-container">
          <div class="error-header">
            <div class="icon"><i class="fa fa-warning"></i></div>
            <div class="text">
                <span class="primary">OOPS!</span>
                <span class="secondary">Something went wrong</span>
            </div>
            <div class="error-message"><strong> {{error.message}}</strong></div>
          </div>
          <div class="lead semi-bold error-content">
              <div class="error-description">{{error.description}}</div>
          </div>
        </div>
    </div>
  </main>

  <footer class="page-footer">
    Compro Technologies Private Limited
  </footer>
</div>

